@define-color bar-bg rgba(46, 52, 64, 1);

@define-color main-bg rgba(46, 52, 64, 0.85);
@define-color main-fg #D8DEE9;

@define-color wb-act-bg #4C566A;
@define-color wb-act-fg #D8DEE9; 

@define-color wb-hvr-bg #3B4252; 
@define-color wb-hvr-fg #D8DEE9; 
