/* ? half pill with the curve pointing dowmwards */


window#waybar.top #pill-down,
window#waybar.top #pill-down button,
window#waybar.bottom #pill-down,
window#waybar.bottom #pill-down button {
    border-radius: 0 0 10pt 10pt;
    border-width: 0em 1.5em;
}

window#waybar.left #pill-down,
window#waybar.left #pill-down button,
window#waybar.right #pill-down,
window#waybar.right #pill-down button {
    border-radius: 0 0 10pt 10pt;
    border-width: 1em 0 1em 0;
}

window#waybar.top #pill-down,
window#waybar.bottom #pill-down {
    margin-top: 0em;
    margin-bottom: 0.3em;
    margin-left: 1em;
    margin-right: 1em;
}

window#waybar.left #pill-down,
window#waybar.right #pill-down {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0em;
    margin-bottom: 1em;
}